In [222]:
import pandas as pd

## Import Statements

In [223]:
dfAAPL = pd.read_csv('AAPL.csv', delimiter = ',', index_col = 'Date')

In [224]:
dfAMZN = pd.read_csv('AMZN.csv', delimiter = ',', index_col = 'Date')

In [225]:
dfBMY = pd.read_csv('BMY.csv', delimiter = ',', index_col = 'Date')

In [226]:
dfCHTR = pd.read_csv('CHTR.csv', delimiter = ',', index_col = 'Date')

In [227]:
dfCL = pd.read_csv('CL.csv', delimiter = ',', index_col = 'Date')

In [184]:
dfCMCSA = pd.read_csv('CMCSA.csv', delimiter = ',', index_col = 'Date')

In [185]:
dfGOOG = pd.read_csv('GOOG.csv', delimiter = ',', index_col = 'Date')

In [186]:
dfJNJ = pd.read_csv('JNJ.csv', delimiter = ',', index_col = 'Date')

In [187]:
dfKO = pd.read_csv('KO.csv', delimiter = ',', index_col = 'Date')

In [188]:
dfLLY = pd.read_csv('LLY.csv', delimiter = ',', index_col = 'Date')

In [189]:
dfMETA = pd.read_csv('META.csv', delimiter = ',', index_col = 'Date')

In [190]:
dfMRK = pd.read_csv('MRK.csv', delimiter = ',', index_col = 'Date')

In [191]:
dfMSFT = pd.read_csv('MSFT.csv', delimiter = ',', index_col = 'Date')

In [192]:
dfPEP = pd.read_csv('PEP.csv', delimiter = ',', index_col = 'Date')

In [193]:
dfPFE = pd.read_csv('PFE.csv', delimiter = ',', index_col = 'Date')

In [194]:
dfPG = pd.read_csv('PG.csv', delimiter = ',', index_col = 'Date')

In [195]:
dfT = pd.read_csv('T.csv', delimiter = ',', index_col = 'Date')

In [196]:
dfTMUS = pd.read_csv('TMUS.csv', delimiter = ',', index_col = 'Date')

In [197]:
dfVZ = pd.read_csv('VZ.csv', delimiter = ',', index_col = 'Date')

In [199]:
dfWMT = pd.read_csv('WMT.csv', delimiter = ',', index_col = 'Date')

In [201]:
df500_19 = pd.read_csv('INDEX_US_S&P US_SPX_Oct19-20.csv', delimiter = ',')

In [202]:
df500_20 = pd.read_csv('INDEX_US_S&P US_SPX_Oct20-21.csv', delimiter = ',')

In [203]:
df500_21 = pd.read_csv('INDEX_US_S&P US_SPX_Oct21-22.csv', delimiter = ',')

In [204]:
df500_22 = pd.read_csv('INDEX_US_S&P US_SPX_Oct22-23.csv', delimiter = ',')

In [206]:
dfDow_19 = pd.read_csv('INDEX_US_DOW JONES GLOBAL_DJIA_Oct19-20.csv', delimiter = ',')

In [207]:
dfDow_20 = pd.read_csv('INDEX_US_DOW JONES GLOBAL_DJIA_Oct20-21.csv', delimiter = ',')

In [208]:
dfDow_21 = pd.read_csv('INDEX_US_DOW JONES GLOBAL_DJIA_Oct21-22.csv', delimiter = ',')

In [209]:
dfDow_22 = pd.read_csv('INDEX_US_DOW JONES GLOBAL_DJIA_Oct22-23.csv', delimiter = ',')

## Concatenating Indexes

In [210]:
df500 = pd.concat([df500_22,df500_21,df500_20,df500_19])
df500.set_index('Date',inplace=True)

In [211]:
dfDow = pd.concat([dfDow_22,dfDow_21,dfDow_20,dfDow_19])
dfDow.set_index('Date',inplace=True)

## Merging Dataset

In [212]:
dfIndexes = pd.merge(df500, dfDow, on = 'Date', how ='inner', suffixes=('_500', '_Dow'))

In [213]:
dfIndexes = pd.concat((df500, dfDow), join ='inner', keys=['S&P500', 'DJIA30'],axis=1)

In [214]:
dfIndexes.index = dfIndexes.index.map(lambda d: pd.to_datetime(d).strftime('%Y-%m-%d'))
dfIndexes

              S&P500                                   DJIA30             \
                Open      High       Low     Close       Open       High
Date
2023-10-24  4,235.79  4,259.38  4,219.43  4,247.68  33,089.64  33,272.19
2023-10-23  4,210.40  4,255.84  4,189.22  4,217.04  32,993.02  33,234.85
2023-10-20  4,273.85  4,276.56  4,223.03  4,224.16  33,365.27  33,425.77
2023-10-19  4,321.36  4,339.54  4,269.69  4,278.00  33,669.52  33,852.39
2023-10-18  4,357.35  4,364.20  4,303.84  4,314.60  33,960.25  33,991.51
...              ...       ...       ...       ...        ...        ...
2019-10-30  3,039.74  3,050.10  3,025.96  3,046.77  27,110.71  27,204.36
2019-10-29  3,035.39  3,047.87  3,034.81  3,036.89  27,061.07  27,165.94
2019-10-28  3,032.12  3,044.08  3,032.12  3,039.42  27,040.33  27,167.88
2019-10-25  3,003.32  3,027.39  3,001.94  3,022.55  26,789.61  27,015.37
2019-10-24  3,014.78  3,016.07  3,000.42  3,010.29  26,893.93  26,931.78


                  Low      Close
Date
2023-10-24  32,988.43  33,141.38
2023-10-23  32,892.19  32,936.41
2023-10-20  33,118.12  33,127.28
2023-10-19  33,368.58  33,414.17
2023-10-18  33,598.64  33,665.08
...               ...        ...
2019-10-30  26,999.64  27,186.69
2019-10-29  27,039.76  27,071.42
2019-10-28  27,028.71  27,090.72
2019-10-25  26,765.68  26,958.06
2019-10-24  26,714.34  26,805.53

[1007 rows x 8 columns]

In [215]:
dfStocks = pd.concat((dfAAPL, dfAMZN, dfBMY, dfCHTR, dfCL, dfCMCSA, dfGOOG, dfJNJ, dfKO, dfLLY, dfMETA, dfMRK, dfMSFT, dfPEP, dfPFE, dfPG, dfT, dfTMUS, dfVZ, dfWMT), join = 'inner', keys = ['AAPL', 'AMZN', 'BMY', 'CHTR', 'CL', 'CMCSA', 'GOOG', 'JNJ', 'KO', 'LLY', 'META', 'MRK', 'MSFT', 'PEP', 'PFE', 'PG', 'T', 'TMUS', 'VZ', 'WMT'], axis = 1)

In [228]:
dfStocks.head()

                  AAPL                                                  \
                  Open        High         Low       Close   Adj Close
Date
2022-10-24  147.190002  150.229996  146.000000  149.449997  148.568619
2022-10-25  150.089996  152.490005  149.360001  152.339996  151.441589
2022-10-26  150.960007  151.990005  148.039993  149.350006  148.469223
2022-10-27  148.070007  149.050003  144.130005  144.800003  143.946060
2022-10-28  148.199997  157.500000  147.820007  155.740005  154.821548

                             AMZN                                      ...  \
               Volume        Open        High         Low       Close  ...
Date                                                                   ...
2022-10-24   75981900  119.980003  120.389999  116.570000  119.820000  ...
2022-10-25   74732300  119.650002  121.320000  118.949997  120.599998  ...
2022-10-26   88194300  116.000000  119.349998  114.760002  115.660004  ...
2022-10-27  109180200  113.919998  114.120003  109.769997  110.959999  ...
2022-10-28  164762400   97.910004  103.959999   97.660004  103.410004  ...

                   VZ                                         WMT              \
                  Low      Close  Adj Close    Volume        Open        High
Date
2022-10-24  35.570000  35.970001  33.508823  28844800  137.449997  140.479996
2022-10-25  35.799999  36.430000  33.937347  25496500  139.089996  140.440002
2022-10-26  36.200001  36.430000  33.937347  20328200  140.360001  142.039993
2022-10-27  36.130001  36.180000  33.704456  20268000  141.009995  142.100006
2022-10-28  36.570000  37.669998  35.092503  31824300  140.050003  142.899994


                   Low       Close   Adj Close   Volume
Date
2022-10-24  137.130005  139.410004  137.307938  6268900
2022-10-25  138.320007  140.070007  137.957993  5017100
2022-10-26  139.820007  141.139999  139.011841  6918100
2022-10-27  140.289993  140.729996  138.608032  5534300
2022-10-28  140.039993  142.509995  140.361191  4549400

[5 rows x 120 columns]

In [217]:
dataset = dfStocks.join(dfIndexes)
dataset = pd.merge(dfStocks, dfIndexes, on = 'Date', how ='inner')

In [229]:
dataset.head()

                  AAPL                                                  \
                  Open        High         Low       Close   Adj Close
Date
2022-10-24  147.190002  150.229996  146.000000  149.449997  148.568619
2022-10-25  150.089996  152.490005  149.360001  152.339996  151.441589
2022-10-26  150.960007  151.990005  148.039993  149.350006  148.469223
2022-10-27  148.070007  149.050003  144.130005  144.800003  143.946060
2022-10-28  148.199997  157.500000  147.820007  155.740005  154.821548

                             AMZN                                      ...  \
               Volume        Open        High         Low       Close  ...
Date                                                                   ...
2022-10-24   75981900  119.980003  120.389999  116.570000  119.820000  ...
2022-10-25   74732300  119.650002  121.320000  118.949997  120.599998  ...
2022-10-26   88194300  116.000000  119.349998  114.760002  115.660004  ...
2022-10-27  109180200  113.919998  114.120003  109.769997  110.959999  ...
2022-10-28  164762400   97.910004  103.959999   97.660004  103.410004  ...

                   WMT             S&P500                                \
             Adj Close   Volume      Open      High       Low     Close
Date
2022-10-24  137.307938  6268900  3,762.01  3,810.74  3,741.65  3,797.34
2022-10-25  137.957993  5017100  3,799.44  3,862.85  3,799.44  3,859.11
2022-10-26  139.011841  6918100  3,825.97  3,886.15  3,824.07  3,830.60
2022-10-27  138.608032  5534300  3,834.69  3,859.95  3,803.79  3,807.30
2022-10-28  140.361191  4549400  3,808.26  3,905.42  3,808.26  3,901.06

               DJIA30
                 Open       High        Low      Close
Date
2022-10-24  31,187.32  31,603.63  31,161.41  31,499.62
2022-10-25  31,463.65  31,876.15  31,423.53  31,836.74
2022-10-26  31,738.44  32,172.42  31,738.44  31,839.11
2022-10-27  32,062.14  32,388.42  31,993.21  32,033.28
2022-10-28  32,204.31  32,889.81  32,158.38  32,861.80

[5 rows x 128 columns]

# Data Processing
## Calculating relative indexes of each sector

Calculating relative index for tech stock

In [178]:
tech_stock_df = pd.concat((dataset.AAPL.Close,dataset.AMZN.Close,dataset.GOOG.Close,dataset.META.Close,dataset.MSFT.Close),join = 'inner',keys=['APPL','AMZN','GOOG','META','MSFT'],axis=1)
tech_stock_df['TechIndex'] = 0.2*tech_stock_df.APPL+0.2*tech_stock_df.AMZN+0.2*tech_stock_df.GOOG+0.2*tech_stock_df.META+0.2*tech_stock_df.MSFT
tech_stock_df.head()

,APPL,AMZN,GOOG,META,MSFT,TechIndex
Date,,,,,,
2022-10-24,149.449997,119.820000,102.970001,129.720001,247.250000,149.842000
2022-10-25,152.339996,120.599998,104.930000,137.509995,250.660004,153.207999
2022-10-26,149.350006,115.660004,94.820000,129.820007,231.320007,144.194005
2022-10-27,144.800003,110.959999,92.599998,97.940002,226.750000,134.610000
2022-10-28,155.740005,103.410004,96.580002,99.199997,235.869995,138.160001

Calculating relative index for pharma stock

In [180]:
pharma_stock_df = pd.concat((dataset.JNJ.Close,dataset.PFE.Close,dataset.MRK.Close,dataset.BMY.Close,dataset.LLY.Close),join = 'inner',keys=['JNJ','PFE','MRK','BMY','LLY'],axis=1)
pharma_stock_df['PharmaIndex'] = 0.2*pharma_stock_df.JNJ+0.2*pharma_stock_df.PFE+0.2*pharma_stock_df.MRK+0.2*pharma_stock_df.BMY+0.2*pharma_stock_df.LLY
pharma_stock_df.head()

,JNJ,PFE,MRK,BMY,LLY,PharmaIndex
Date,,,,,,
2022-10-24,170.979996,45.540001,97.370003,72.989998,347.899994,146.955998
2022-10-25,170.710007,45.590000,97.709999,72.769997,351.309998,147.618000
2022-10-26,172.210007,46.060001,98.410004,74.449997,357.859985,149.797999
2022-10-27,172.309998,45.740002,99.739998,74.599998,356.329987,149.743997
2022-10-28,174.869995,47.430000,100.769997,76.830002,359.899994,151.959998

Calculating relative index for telecom stock

In [220]:
telecom_stock_df = pd.concat((dataset['T'].Close,dataset.VZ.Close,dataset.TMUS.Close,dataset.CMCSA.Close,dataset.CHTR.Close),join = 'inner',keys=['T','VZ','TMUS','CMCSA','CHTR'],axis=1)
telecom_stock_df['TelecomIndex'] = 0.2*telecom_stock_df['T']+0.2*telecom_stock_df.VZ+0.2*telecom_stock_df.TMUS+0.2*telecom_stock_df.CMCSA+0.2*telecom_stock_df.CHTR
telecom_stock_df.head()

,T,VZ,TMUS,CMCSA,CHTR,TelecomIndex
Date,,,,,,
2022-10-24,17.510000,35.970001,139.320007,31.080000,337.070007,112.190003
2022-10-25,17.690001,36.430000,140.630005,31.559999,346.709991,114.603999
2022-10-26,18.139999,36.430000,140.839996,31.500000,344.869995,114.355998
2022-10-27,18.030001,36.180000,140.630005,31.969999,355.260010,116.414003
2022-10-28,18.480000,37.669998,151.000000,31.950001,368.239990,121.467998

Calculating relative index for FMCG stock

In [221]:
fmcg_stock_df = pd.concat((dataset.PG.Close,dataset.KO.Close,dataset.PEP.Close,dataset.WMT.Close,dataset.CL.Close),join = 'inner',keys=['PG','KO','PEP','WMT','CL'],axis=1)
fmcg_stock_df['FMCGIndex'] = 0.2*fmcg_stock_df.PG+0.2*fmcg_stock_df.KO+0.2*fmcg_stock_df.PEP+0.2*fmcg_stock_df.WMT+0.2*fmcg_stock_df.CL
fmcg_stock_df.head()

,PG,KO,PEP,WMT,CL,FMCGIndex
Date,,,,,,
2022-10-24,129.369995,57.570000,177.679993,139.410004,72.019997,115.209998
2022-10-25,130.860001,58.950001,178.270004,140.070007,72.760002,116.182003
2022-10-26,131.779999,59.389999,179.070007,141.139999,73.430000,116.962001
2022-10-27,131.880005,59.529999,178.880005,140.729996,73.230003,116.850002
2022-10-28,135.220001,60.759998,182.229996,142.509995,74.639999,119.071998